@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  h1 {
    font-size: 124px;
    line-height: normal;
  }
  span {
    color: color-mix(in srgb, currentColor, transparent 50%);
  }
  p {
    font-size: 32px;
  }
  a {
    text-decoration: underline;
    font-size: 20px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
