@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  h1 {
    line-height: normal;
  }
  a {
    text-decoration: underline;
  }
}

.custom-color-mix {
  color: color-mix(in srgb, currentColor, transparent 50%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
