@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  h1 {
    line-height: normal;
  }
  span {
    color: color-mix(in srgb, currentColor, transparent 50%);
  }
  a {
    text-decoration: underline;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
